
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #333;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #4CAF50;
    color: white;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


a {
    text-decoration: none;
}

a button {
    display: inline-block;
    margin: 0;
}


@media (max-width: 600px) {
    form, table {
        width: 100%;
        padding: 10px;
    }

    table th, table td {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 15px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-image: url(ahorro.jpg);
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    padding: 20px;
}

h1 {
    color: black;
}

.abajo{
    color: rgb(10, 10, 10);
    font-size: 12px;
    padding: 10px;
}
.siguenos{
    text-align: center;
    color: rgb(4, 27, 12);
    padding: 15px 0;
}








